<!-- <head>
  <link rel="stylesheet" href="assets/css/styles.css" />
</head> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://bootstrapmade.com/demo/templates/NiceAdmin/assets/img/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <b>E-Library</b>
      <!-- w=30, h=24 -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>